{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./resources/css/app.css",
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": true
}
